# Exploring Data Using Pandas

This is the first of four sessions looking at how to explore data in
Python. This session will focus on introducing the Python library,
pandas. We will use pandas

We are using Australian weather data, taken from Kaggle. To download the
data, click <a href="data/weatherAUS.csv" download>here</a>.

In [1]:
# install necessary packages
!uv add skimpy

# import packages
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from skimpy import skim

In [2]:
# import the dataset
df = pd.read_csv('data/weatherAUS.csv')

## Setting the Scene

Before we start to explore any dataset, we need to establish what we are
looking to do with the data. This should inform our decisions wwith any
exploration, and any analysis that follows.

First, we need to ask: - What are we trying to achieve? - How do our
goals impact our analysis? - What should we take into consideration
before we write any code? - What sort of questions might we be
interested in with this dataset?

### What Our Data Can Tell Us (And What it Can’t)

We also need to consider what the data is and where it came from.

-   How was the data collected?
-   What is it missing?
-   What do the variables in our dataset actually mean, and are they a
    good approximation of the concepts we are interested in?

![](https://i.kym-cdn.com/entries/icons/original/000/039/191/EqR7AbhVQAAuuvA.jpg)

### Population vs Sample

-   What is the difference between population data and sample data?
-   Why do we care?
-   How do methods/approaches differ when dealing with population data
    versus sample data?

### Description vs Explanation (Inference) vs Prediction

-   What do these different types of analysis mean?
-   Do they impact the way we structure our analysis?
-   Do they impact the code we write?

## Describing Data

-   What do we want to know about a dataset when we first encounter it?
-   How do we get a quick overview of the data that can help us in our
    next steps?
-   We need to get a “feel” for the data before we can really make any
    decisions about how to analyse it. How do we get there with a new
    dataset?

In [3]:
# view the top five rows
df.head()

In [4]:
# view the bottom ten rows
df.tail(10)

In [5]:
# get the object shape (number of rows, number of columns)
df.shape

(145460, 23)

In [6]:
# get the object length
len(df)

145460

In [7]:
# get all column names
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [8]:
# get dataframe info (column indices, non-null counts, data types)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [9]:
# calculate the percentage of null values in each column
df.isnull().sum()/len(df)

Date             0.000000
Location         0.000000
MinTemp          0.010209
MaxTemp          0.008669
Rainfall         0.022419
Evaporation      0.431665
Sunshine         0.480098
WindGustDir      0.070989
WindGustSpeed    0.070555
WindDir9am       0.072639
WindDir3pm       0.029066
WindSpeed9am     0.012148
WindSpeed3pm     0.021050
Humidity9am      0.018246
Humidity3pm      0.030984
Pressure9am      0.103568
Pressure3pm      0.103314
Cloud9am         0.384216
Cloud3pm         0.408071
Temp9am          0.012148
Temp3pm          0.024811
RainToday        0.022419
RainTomorrow     0.022460
dtype: float64

## Wrangling Data

-   Datasets are rarely perfectly clean and
    [tidy](https://vita.had.co.nz/papers/tidy-data.pdf). It is often
    necessary to make changes to our data, such as selecting a subset of
    columns, filtering for a range of values, and transforming how
    certain variables are represented.
-   What “functions” might we need to carry out on our data when we are
    exploring it?
-   What sort of transformations might be necessary here?

In [10]:
# selecting a single column by name
df['Date']

0         2008-12-01
1         2008-12-02
2         2008-12-03
3         2008-12-04
4         2008-12-05
             ...
145455    2017-06-21
145456    2017-06-22
145457    2017-06-23
145458    2017-06-24
145459    2017-06-25
Name: Date, Length: 145460, dtype: object

In [11]:
# there's always multiple ways to achieve something in python
df.loc[:, 'Date'] # this is good
# df.Date

0         2008-12-01
1         2008-12-02
2         2008-12-03
3         2008-12-04
4         2008-12-05
             ...
145455    2017-06-21
145456    2017-06-22
145457    2017-06-23
145458    2017-06-24
145459    2017-06-25
Name: Date, Length: 145460, dtype: object

In [12]:
# selecting multiple columns (and all rows) by name
df[['Date', 'Location', 'Rainfall']]
# df.loc[:, ['Date', 'Location', 'Rainfall']]

In [13]:
# slicing by rows
df[200:211]

In [14]:
# filtering by values
# df[df['Location'] == 'Perth']
# df[df['Rainfall'] > 0]
df[(df['Rainfall'] == 0) & (df['Location'] == 'Perth')]

In [15]:
# convert date column to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [16]:
# convert object columns to categorical
df.apply(lambda x: x.astype('category') if x.dtype == 'object' else x)

In [17]:
# filter observations where sunshine is NA
# (this is illustrative but should not be done without careful consideration generally)
df[df['Sunshine'].notnull()]

## Summarising Data

In [18]:
# quick summary of numeric variables
df.describe()

In [19]:
# a more informative summary function from the skimpy package
skim(df)

In [20]:
# count unique values
df['Location'].nunique()

49

In [21]:
# get unique values
df['Location'].unique()

array(['Albury', 'BadgerysCreek', 'Cobar', 'CoffsHarbour', 'Moree',
       'Newcastle', 'NorahHead', 'NorfolkIsland', 'Penrith', 'Richmond',
       'Sydney', 'SydneyAirport', 'WaggaWagga', 'Williamtown',
       'Wollongong', 'Canberra', 'Tuggeranong', 'MountGinini', 'Ballarat',
       'Bendigo', 'Sale', 'MelbourneAirport', 'Melbourne', 'Mildura',
       'Nhil', 'Portland', 'Watsonia', 'Dartmoor', 'Brisbane', 'Cairns',
       'GoldCoast', 'Townsville', 'Adelaide', 'MountGambier', 'Nuriootpa',
       'Woomera', 'Albany', 'Witchcliffe', 'PearceRAAF', 'PerthAirport',
       'Perth', 'SalmonGums', 'Walpole', 'Hobart', 'Launceston',
       'AliceSprings', 'Darwin', 'Katherine', 'Uluru'], dtype=object)

In [22]:
# calculate variable mean
np.round(df['Sunshine'].mean(), decimals=2)

np.float64(7.61)

In [23]:
# calculate other summary statistics
df['Sunshine'].median()
# df['Sunshine'].sum()

np.float64(8.4)

In [24]:
# calculate group means
np.round(df.groupby(by='Location')['Sunshine'].mean(), decimals=1)

Location
Adelaide            7.7
Albany              6.7
Albury              NaN
AliceSprings        9.6
BadgerysCreek       NaN
Ballarat            NaN
Bendigo             NaN
Brisbane            8.1
Cairns              7.6
Canberra            7.4
Cobar               8.7
CoffsHarbour        7.4
Dartmoor            6.5
Darwin              8.5
GoldCoast           NaN
Hobart              6.6
Katherine           NaN
Launceston          NaN
Melbourne           6.4
MelbourneAirport    6.4
Mildura             8.5
Moree               8.9
MountGambier        6.5
MountGinini         NaN
Newcastle           NaN
Nhil                NaN
NorahHead           NaN
NorfolkIsland       7.0
Nuriootpa           7.7
PearceRAAF          8.8
Penrith             NaN
Perth               8.8
PerthAirport        8.8
Portland            6.5
Richmond            NaN
Sale                6.7
SalmonGums          NaN
Sydney              7.2
SydneyAirport       7.2
Townsville          8.5
Tuggeranong         NaN
Uluru               NaN
WaggaWagga          8.2
Walpole             NaN
Watsonia            6.4
Williamtown         7.2
Witchcliffe         NaN
Wollongong          NaN
Woomera             9.0
Name: Sunshine, dtype: float64

In [25]:
# group by location and count non-null sunshine values
df.groupby('Location')['Sunshine'].count()

Location
Adelaide            1769
Albany              2520
Albury                 0
AliceSprings        2520
BadgerysCreek          0
Ballarat               0
Bendigo                0
Brisbane            3144
Cairns              2564
Canberra            1521
Cobar                550
CoffsHarbour        1494
Dartmoor            2566
Darwin              3189
GoldCoast              0
Hobart              3179
Katherine              0
Launceston             0
Melbourne           3192
MelbourneAirport    3008
Mildura             2876
Moree               2055
MountGambier        2597
MountGinini            0
Newcastle              0
Nhil                   0
NorahHead              0
NorfolkIsland       2570
Nuriootpa           2848
PearceRAAF          3004
Penrith                0
Perth               3188
PerthAirport        3004
Portland            2566
Richmond               0
Sale                1818
SalmonGums             0
Sydney              3328
SydneyAirport       2993
Townsville          2617
Tuggeranong            0
Uluru                  0
WaggaWagga          2575
Walpole                0
Watsonia            3008
Williamtown         1355
Witchcliffe            0
Wollongong             0
Woomera             2007
Name: Sunshine, dtype: int64

## Exercises

Some of these questions are easily answered by scrolling up and finding
the answer in the output of the above code, however, the goal is to find
the answer using code. No one actually cares what the answer to any of
these questions is, it’s the process that matters!

**Remember, if you don’t know the answer, it’s okay to Google it (or
speak to others, including me, for help)!**

1.  What is the ‘Sunshine’ column’s data type?
2.  Identify all the columns that are of dtype ‘object’.
3.  How many of the dataframe’s columns are of dtype ‘object’?
4.  How many of the ‘Rainfall’ column values are NAs?
5.  Create a new dataframe which only includes the ‘Date’, ‘Location,
    ’Sunshine’, ‘Rainfall’, and ‘RainTomorrow’ columns.
6.  Convert ‘RainTomorrow’ to a numeric variable, where ‘Yes’ = 1 and
    ‘No’ = 0.
7.  What is the average amount of rainfall for each location?
8.  What is the average amount of rainfall for days that it will rain
    tomorrow?
9.  What is the average amount of sunshine in Perth when it will not
    rain tomorrow?
10. We want to understand the role that time plays in the dataset. Using
    the original dataframe, carry the following tasks and answer the
    corresponding questions:
    -   Create columns representing the year and month from the ‘Date’
        column. How many years of data are in the dataset?
    -   Examine the distribution of the ‘Sunshine’ NAs over time. Is
        time a component in the ‘Sunshine’ data quality issues?
    -   Calculate the average rainfall and sunshine by month. How do
        rainfall and sunshine vary through the year?
    -   Calculate the average rainfall and sunshine by year. How have
        rainfall and sunshine changed over time?

### Solutions

In [26]:
# import packages
import numpy as np
import pandas as pd

In [27]:
# import the dataset
df = pd.read_csv('data/weatherAUS.csv')

1.  What is the ‘Sunshine’ column’s data type?

In [28]:
# What is the 'Sunshine' column's data type?
df['Sunshine'].dtypes

dtype('float64')

1.  Identify all the columns that are of dtype ‘object’.

In [29]:
# Identify all the columns that are of dtype 'object'
list(df.select_dtypes(include=['object']))

['Date',
 'Location',
 'WindGustDir',
 'WindDir9am',
 'WindDir3pm',
 'RainToday',
 'RainTomorrow']

1.  How many of the dataframe’s columns are of dtype ‘object’?

In [30]:
# How many of the dataframe's columns are of dtype 'object'?
len(list(df.select_dtypes(include=['object'])))

7

1.  How many of the ‘Rainfall’ column values are NAs?

In [31]:
# How many of the 'Rainfall' column values are NAs?
df['Rainfall'].isna().sum()

np.int64(3261)

1.  Create a new dataframe which only includes the ‘Date’, ‘Location,
    ’Sunshine’, ‘Rainfall’, and ‘RainTomorrow’ columns.

In [32]:
# Create a new dataframe which only includes the 'Date', 'Location, 'Sunshine', 'Rainfall', and 'RainTomorrow' columns.
new_df = df[['Date', 'Location', 'Sunshine', 'Rainfall', 'RainTomorrow']]
new_df.head()

1.  Convert ‘RainTomorrow’ to a numeric variable, where ‘Yes’ = 1 and
    ‘No’ = 0.

In [33]:
# Convert 'RainTomorrow' to a numeric variable, where 'Yes' = 1 and 'No' = 0.
# df['Location'].astype('category').cat.codes
# df['RainTomorrow'].astype('category').cat.codes
df['RainTomorrow'].map({'Yes': 1, 'No': 0})

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
145455    0.0
145456    0.0
145457    0.0
145458    0.0
145459    NaN
Name: RainTomorrow, Length: 145460, dtype: float64

1.  What is the average amount of rainfall for each location?

In [34]:
# What is the average amount of rainfall for each location?
df.groupby('Location')['Rainfall'].mean().sort_values(ascending=False)

Location
Cairns              5.742035
Darwin              5.092452
CoffsHarbour        5.061497
GoldCoast           3.769396
Wollongong          3.594903
Williamtown         3.591108
Townsville          3.485592
NorahHead           3.387299
Sydney              3.324543
MountGinini         3.292260
Katherine           3.201090
Newcastle           3.183892
Brisbane            3.144891
NorfolkIsland       3.127665
SydneyAirport       3.009917
Walpole             2.906846
Witchcliffe         2.895664
Portland            2.530374
Albany              2.263859
BadgerysCreek       2.193101
Penrith             2.175304
Tuggeranong         2.164043
Dartmoor            2.146567
Richmond            2.138462
MountGambier        2.087562
Launceston          2.011988
Albury              1.914115
Perth               1.906295
Melbourne           1.870062
Watsonia            1.860820
PerthAirport        1.761648
Canberra            1.741720
Ballarat            1.740026
WaggaWagga          1.709946
PearceRAAF          1.669080
Moree               1.630203
Bendigo             1.619380
Hobart              1.601819
Adelaide            1.566354
Sale                1.510167
MelbourneAirport    1.451977
Nuriootpa           1.390343
Cobar               1.127309
SalmonGums          1.034382
Mildura             0.945062
Nhil                0.934863
AliceSprings        0.882850
Uluru               0.784363
Woomera             0.490405
Name: Rainfall, dtype: float64

1.  What is the average amount of rainfall for days that it will rain
    tomorrow?

In [35]:
# What is the average amount of rainfall for days that it will rain tomorrow?
df.groupby('RainTomorrow')['Rainfall'].mean()

RainTomorrow
No     1.270290
Yes    6.142104
Name: Rainfall, dtype: float64

1.  What is the average amount of sunshine in Perth when it will not
    rain tomorrow?

In [36]:
# What is the average amount of sunshine in Perth when it will not rain tomorrow?
df.loc[(df['Location'] == 'Perth') & (df['RainTomorrow'] == 'No'), 'Sunshine'].mean()
# df[(df['Location']=='Perth') & (df['RainTomorrow']=='No')]['Sunshine'].mean()

np.float64(9.705306603773584)

1.  We want to understand the role that time plays in the dataset. Using
    the original dataframe, carry the following tasks and answer the
    corresponding questions:
    -   Create columns representing the year and month from the ‘Date’
        column. How many years of data are in the dataset?
    -   Examine the distribution of the ‘Sunshine’ NAs over time. Is
        time a component in the ‘Sunshine’ data quality issues?
    -   Calculate the average rainfall and sunshine by month. How do
        rainfall and sunshine vary through the year?
    -   Calculate the average rainfall and sunshine by year. How have
        rainfall and sunshine changed over time?

In [37]:
# Create columns representing the year and month from the 'Date' column. How many years of data are in the dataset?
df = (
    df.assign(Date=pd.to_datetime(df['Date']))
    .assign(
        Year=lambda x: x['Date'].dt.year,
        Month=lambda x: x['Date'].dt.month
    )
)

df['Year'].nunique()

11

In [38]:
# Examine the distribution of the 'Sunshine' NAs over time. Is time a component in the 'Sunshine' data quality issues?
df.groupby('Year')['Sunshine'].apply(lambda x: x.isna().sum())

Year
2007        0
2008      323
2009     6146
2010     6220
2011     6053
2012     6539
2013     7570
2014     9157
2015     9441
2016    11994
2017     6392
Name: Sunshine, dtype: int64

In [39]:
# Calculate the average rainfall and sunshine by month. How do rainfall and sunshine vary through the year?
df.groupby('Month')[['Rainfall', 'Sunshine']].mean()

In [40]:
# Calculate the average rainfall and sunshine by year. How have rainfall and sunshine changed over time?
df.groupby('Year')[['Rainfall', 'Sunshine']].mean()