# EDA Exercise Solutions

In [1]:
# import packages
import numpy as np
import pandas as pd

In [2]:
# import the dataset
df = pd.read_csv('data/weatherAUS.csv')

1.  What is the ‘Sunshine’ column’s data type?

In [3]:
# What is the 'Sunshine' column's data type?
df['Sunshine'].dtypes

dtype('float64')

1.  Identify all the columns that are of dtype ‘object’.

In [4]:
# Identify all the columns that are of dtype 'object'
list(df.select_dtypes(include=['object']))

['Date',
 'Location',
 'WindGustDir',
 'WindDir9am',
 'WindDir3pm',
 'RainToday',
 'RainTomorrow']

1.  How many of the dataframe’s columns are of dtype ‘object’?

In [5]:
# How many of the dataframe's columns are of dtype 'object'?
len(list(df.select_dtypes(include=['object'])))

7

1.  How many of the ‘Rainfall’ column values are NAs?

In [6]:
# How many of the 'Rainfall' column values are NAs?
df['Rainfall'].isna().sum()

np.int64(3261)

1.  Create a new dataframe which only includes the ‘Date’, ‘Location,
    ’Sunshine’, ‘Rainfall’, and ‘RainTomorrow’ columns.

In [7]:
# Create a new dataframe which only includes the 'Date', 'Location, 'Sunshine', 'Rainfall', and 'RainTomorrow' columns.
new_df = df[['Date', 'Location', 'Sunshine', 'Rainfall', 'RainTomorrow']]
new_df.head()

1.  Convert ‘RainTomorrow’ to a numeric variable, where ‘Yes’ = 1 and
    ‘No’ = 0.

In [8]:
# Convert 'RainTomorrow' to a numeric variable, where 'Yes' = 1 and 'No' = 0.
# df['Location'].astype('category').cat.codes
# df['RainTomorrow'].astype('category').cat.codes
df['RainTomorrow'].map({'Yes': 1, 'No': 0})

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
145455    0.0
145456    0.0
145457    0.0
145458    0.0
145459    NaN
Name: RainTomorrow, Length: 145460, dtype: float64

1.  What is the average amount of rainfall for each location?

In [9]:
# What is the average amount of rainfall for each location?
df.groupby('Location')['Rainfall'].mean().sort_values(ascending=False)

Location
Cairns              5.742035
Darwin              5.092452
CoffsHarbour        5.061497
GoldCoast           3.769396
Wollongong          3.594903
Williamtown         3.591108
Townsville          3.485592
NorahHead           3.387299
Sydney              3.324543
MountGinini         3.292260
Katherine           3.201090
Newcastle           3.183892
Brisbane            3.144891
NorfolkIsland       3.127665
SydneyAirport       3.009917
Walpole             2.906846
Witchcliffe         2.895664
Portland            2.530374
Albany              2.263859
BadgerysCreek       2.193101
Penrith             2.175304
Tuggeranong         2.164043
Dartmoor            2.146567
Richmond            2.138462
MountGambier        2.087562
Launceston          2.011988
Albury              1.914115
Perth               1.906295
Melbourne           1.870062
Watsonia            1.860820
PerthAirport        1.761648
Canberra            1.741720
Ballarat            1.740026
WaggaWagga          1.709946
PearceRAAF          1.669080
Moree               1.630203
Bendigo             1.619380
Hobart              1.601819
Adelaide            1.566354
Sale                1.510167
MelbourneAirport    1.451977
Nuriootpa           1.390343
Cobar               1.127309
SalmonGums          1.034382
Mildura             0.945062
Nhil                0.934863
AliceSprings        0.882850
Uluru               0.784363
Woomera             0.490405
Name: Rainfall, dtype: float64

1.  What is the average amount of rainfall for days that it will rain
    tomorrow?

In [10]:
# What is the average amount of rainfall for days that it will rain tomorrow?
df.groupby('RainTomorrow')['Rainfall'].mean()

RainTomorrow
No     1.270290
Yes    6.142104
Name: Rainfall, dtype: float64

1.  What is the average amount of sunshine in Perth when it will not
    rain tomorrow?

In [11]:
# What is the average amount of sunshine in Perth when it will not rain tomorrow?
df.loc[(df['Location'] == 'Perth') & (df['RainTomorrow'] == 'No'), 'Sunshine'].mean()
# df[(df['Location']=='Perth') & (df['RainTomorrow']=='No')]['Sunshine'].mean()

np.float64(9.705306603773584)

1.  We want to understand the role that time plays in the dataset. Using
    the original dataframe, carry the following tasks and answer the
    corresponding questions:
    -   Create columns representing the year and month from the ‘Date’
        column. How many years of data are in the dataset?
    -   Examine the distribution of the ‘Sunshine’ NAs over time. Is
        time a component in the ‘Sunshine’ data quality issues?
    -   Calculate the average rainfall and sunshine by month. How do
        rainfall and sunshine vary through the year?
    -   Calculate the average rainfall and sunshine by year. How have
        rainfall and sunshine changed over time?

In [12]:
# Create columns representing the year and month from the 'Date' column. How many years of data are in the dataset?
df = (
    df.assign(Date=pd.to_datetime(df['Date']))
    .assign(
        Year=lambda x: x['Date'].dt.year,
        Month=lambda x: x['Date'].dt.month
    )
)

df['Year'].nunique()

11

In [13]:
# Examine the distribution of the 'Sunshine' NAs over time. Is time a component in the 'Sunshine' data quality issues?
df.groupby('Year')['Sunshine'].apply(lambda x: x.isna().sum())

Year
2007        0
2008      323
2009     6146
2010     6220
2011     6053
2012     6539
2013     7570
2014     9157
2015     9441
2016    11994
2017     6392
Name: Sunshine, dtype: int64

In [14]:
# Calculate the average rainfall and sunshine by month. How do rainfall and sunshine vary through the year?
df.groupby('Month')[['Rainfall', 'Sunshine']].mean()

In [15]:
# Calculate the average rainfall and sunshine by year. How have rainfall and sunshine changed over time?
df.groupby('Year')[['Rainfall', 'Sunshine']].mean()